<main id="content">

  <script type="text/javascript">
    window.logo = '<%=image_url('dorado_logo.png')%>'
    window.icon = '<%=image_url('logo.png')%>'
    window.like = '<%=image_url('like.png')%>'
    window.unlike = '<%=image_url('unlike.png')%>'
    window.profilePic = '<%=image_url('defaultpic.png')%>'
    window.loading = '<%=image_url('loading.gif')%>'
  </script>


</main>
